@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
.header-container{
    margin-bottom: 0px;
    font-family: 'Orbitron', sans-serif; 
    display: flex;
    height: 3.5em;
    background: #eb366d
}

.logo{
    margin-left: 2em;
    margin-top: 1px;
    border-style: solid
}
.logo2{
    margin-top: 1px;
    border-style: solid;
    border-color: white;
    background: white;
    color: #eb366d;
}