.shortcut-container{
    padding: 2px; 
    margin-top: 1px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;  
    height: 5em;
    margin:3px;
    height:auto;
}

.shortcut-image{
    max-height: 100px;
    max-width: 100px;
    flex:4;
}

.shortcut-title{
    text-align: center;
    flex:1;
    margin: 0px;
    margin-top:1px;
}